body {
    background-color: black;
}



p {
    color: white;
}

/*Headline 1*/
h1 {
    color: white;
    font-family: Helvetica;
    font-size: 68px;
    text-align: center;
}

/*Headline 2*/
h2 {
    color: white;
    text-align: center;
    font-family: Comic, Helvetica, 'Arial Narrow Bold', sans-serif;
}



/*Testing div cube*/
div:not(.image-container) {
    width: 32px;
    height: 32px;
    background-color: rgb(0, 255, 157);
    position: relative;
    animation-name: Cube_Animation;
    animation-duration: 55s; /*The speed of the cube, the higher the number - the slower the animation speed of the cube.*/
    animation-iteration-count: 11573798400; /*11,573,798,400 | 31622400 | Countdown of numbers of how many times the cube is going to swing from left to right.*/
}

/*keyframes is used to control the animation to start & end the transition.*/
@keyframes Cube_Animation {
    0% {background-color: rgb(255, 0, 0); left:0px; right: 0px;}
    10% {background-color: rgb(255, 157, 0); left: calc(98vw - 25px); right: 0px;}
    20% {background-color: rgb(251, 255, 0); left:0px; right: 200px;}
    30% {background-color: rgb(170, 255, 0); left:calc(98vw - 25px); right: 0px;}
    40% {background-color: rgb(0, 255, 21); left:0px; right: 200px;}
    50% {background-color: rgb(0, 255, 157); left:calc(98vw - 25px); right: 0px;}
    60% {background-color: rgb(0, 255, 255); left:0px; right: 200px;}
    70% {background-color: rgb(0, 162, 255); left:calc(98vw - 25px); right: 0px;}
    80% {background-color: rgb(0, 34, 255); left:0px; right: 200px;}
    90% {background-color: rgb(123, 0, 255); left:calc(98vw - 25px); right: 0px;}
    100% {background-color: rgb(234, 0, 255); left:0px; right: 200px;}
    85%{background-color: rgb(255, 0, 119); left:calc(98vw - 25px); right: 0px;}
    75% {background-color: rgb(255, 0, 76); left:0px; right: 200px;}
}


/*Cover image stopped moving with this.*/
.image-container {
    width: 100%;
    height: none;
    border:0.05px solid black;
    margin-bottom: 21px;
}

.image-container img {
    width: 100%;
    height: 990px;
    object-fit: contain;
}




/*261125-8.51*/
/*testing if this code works out.*/
canvas {
    border: 5px solid #ffffffd3;
    background-color: rgb(34, 32, 32);
    position: absolute;
    right: 200px;
    bottom: 100px;
}





