/*Change to dark modus*/

body {
  background-color: rgb(0, 0, 0);
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

/*#meny-knapp1 {
  background-color: white;
}
*/

/*This command is from my Cafeteria websites. Liked the css command.*/
/*Collabsible set testing*/
.collapsible {
  background-color: #6fe9ff;
  color: rgb(
    255,
    255,
    255
  ); /*Found the right code, this is to change the color text in the background colored box above.*/
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 24px;
  font-weight: bold;
}

/*This is the hover command where once you hover
with the mouse it will change color readable.
Default=
Light blue background with black text. --> Black background with white text.*/
.active,
.collapsible:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.content {
  padding: 0 16px;
  display: none;
  overflow: hidden;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 22px; /*The font-size command changes the size of the text inside the boxes.*/
  font-weight: none;
}

/**/
h2 {
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  color: rgb(255, 255, 255);
}
