body {
  background-color: black;
}

p {
  color: white;
  font-size: 23px;
}

/*Headline 1*/
h1 {
  color: white;
  font-family: Helvetica;
  font-size: 68px;
  text-align: center;
}

/*Headline 2*/
h2 {
  color: white;
  text-align: center;
  font-family: Comic, Helvetica, "Arial Narrow Bold", sans-serif;
}

/**/
h4 {
  color: white;
  text-align: center;
  font-size: 24px;
}

/*Testing div cube*/
div:not(.image-container, .content, .) {
  /*The p text is inside .content, when writing like this: The text won't be moving like the Cube_Animation.*/
  width: 32px;
  height: 32px;
  background-color: rgb(0, 255, 157);
  position: relative;
  animation-name: Cube_Animation;
  animation-duration: 55s; /*The speed of the cube, the higher the number - the slower the animation speed of the cube.*/
  animation-iteration-count: 11573798400; /*11,573,798,400 | 31622400 | Countdown of numbers of how many times the cube is going to swing from left to right.*/
}

/*keyframes is used to control the animation to start & end the transition.*/
@keyframes Cube_Animation {
  0% {
    background-color: rgb(255, 0, 0);
    left: 0px;
    right: 0px;
  }
  10% {
    background-color: rgb(255, 157, 0);
    left: calc(98vw - 25px);
    right: 0px;
  }
  20% {
    background-color: rgb(251, 255, 0);
    left: 0px;
    right: 200px;
  }
  30% {
    background-color: rgb(170, 255, 0);
    left: calc(98vw - 25px);
    right: 0px;
  }
  40% {
    background-color: rgb(0, 255, 21);
    left: 0px;
    right: 200px;
  }
  50% {
    background-color: rgb(0, 255, 157);
    left: calc(98vw - 25px);
    right: 0px;
  }
  60% {
    background-color: rgb(0, 255, 255);
    left: 0px;
    right: 200px;
  }
  70% {
    background-color: rgb(0, 162, 255);
    left: calc(98vw - 25px);
    right: 0px;
  }
  80% {
    background-color: rgb(0, 34, 255);
    left: 0px;
    right: 200px;
  }
  90% {
    background-color: rgb(123, 0, 255);
    left: calc(98vw - 25px);
    right: 0px;
  }
  100% {
    background-color: rgb(234, 0, 255);
    left: 0px;
    right: 200px;
  }
  85% {
    background-color: rgb(255, 0, 119);
    left: calc(98vw - 25px);
    right: 0px;
  }
  75% {
    background-color: rgb(255, 0, 76);
    left: 0px;
    right: 200px;
  }
}

/**/
/*Cover image stopped moving with this.*/
.image-container {
  width: 100%;
  height: none;
  border: 0 px solid black;
  margin-bottom: 0px;
}

.image-container img {
  width: 100%;
  height: 990px;
  object-fit: contain;
}

/*261125-8.51*/
/*testing if this code works out.*/
canvas {
  border: 5px solid #ffffffd3;
  background-color: rgb(34, 32, 32);
  position: relative;
  /*left: 50%;
  transform: translate(-50%);
  *right: auto;
  bottom: 115px;*/
}

/**/
/**/
/*This command is from my Cafeteria websites. Liked the css command.*/
/*Collabsible set testing*/
.collapsible {
  background-color: #6fe9ff;
  color: rgb(
    255,
    255,
    255
  ); /*Found the right code, this is to change the color text in the background colored box above.*/
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 24px;
  font-weight: bold;
}

/*This is the hover command where once you hover
with the mouse it will change color readable.
Default=
Light blue background with black text. --> Black background with white text.*/
.active,
.collapsible:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.content {
  padding: 0 16px;
  display: none;
  overflow: hidden;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 22px; /*The font-size command changes the size of the text inside the boxes.*/
  font-weight: none;
}

/**/
/**/
/*Card flip testing*/
label[for="test"] {
  display: block;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.reversible {
  position: relative;
  width: 210px;
  margin: 50px auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 2s ease;
  transition: all 2s;
  perspective: 1000px;
}

input[type="checkbox"]:checked + label .reversible {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.reversible .card {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tile-front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.tile-back {
  z-index: 2;
}

.card-body {
  font-size: 3rem;
  color: white;
  text-align: center;
}

/**/
.card-body-back {
  height: fit-content;
  width: fit-content;
}

/**/
.card footer {
  font-size: 2rem;
}

.card {
  background-color: white;
  height: 16rem;
  transition: all 1.1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgb(255, 0, 0);
}

/**/
/*table css line tabelle*/
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  font-size: small;
}

/**/

 





   
